section.about-3
	article
		.container
			.row.material
				h2 Fresh Organic được 
					strong chứng nhận bởi Eco-Cert 
					| - Tổ chức chứng nhận hữu cơ hàng đầu Châu Âu, với 4 nguồn nguyên liệu sạch.
				.col-lg-6
					figure.figure.row
						.img-block.col-sm-5.pr-sm-0.text-center.text-lg-right
							img(src="./img/fresh/about/about_material.png", alt="").img-fluid
						figcaption.figcaption.col-sm-7.col-lg-6
							h3 Macadamia
							p 100% tinh dầu hạt mắc ca có chứa các dưỡng chất có lợi cho mái tóc như: Omega 3, axit amin, protein,…
				.col-lg-6
					figure.figure.row
						.img-block.col-sm-5.pr-sm-0.text-center.text-lg-right
							img(src="./img/fresh/about/about_material.png", alt="").img-fluid
						figcaption.figcaption.col-sm-7.col-lg-6
							h3 Macadamia
							p 100% tinh dầu hạt mắc ca có chứa các dưỡng chất có lợi cho mái tóc như: Omega 3, axit amin, protein,…
				.col-lg-6
					figure.figure.row
						.img-block.col-sm-5.pr-sm-0.text-center.text-lg-right
							img(src="./img/fresh/about/about_material.png", alt="").img-fluid
						figcaption.figcaption.col-sm-7.col-lg-6
							h3 Macadamia
							p 100% tinh dầu hạt mắc ca có chứa các dưỡng chất có lợi cho mái tóc như: Omega 3, axit amin, protein,…
				.col-lg-6
					figure.figure.row
						.img-block.col-sm-5.pr-sm-0.text-center.text-lg-right
							img(src="./img/fresh/about/about_material.png", alt="").img-fluid
						figcaption.figcaption.col-sm-7.col-lg-6
							h3 Macadamia
							p 100% tinh dầu hạt mắc ca có chứa các dưỡng chất có lợi cho mái tóc như: Omega 3, axit amin, protein,…
			.row.chemical
				h2 Fresh Organic có thành phần tự nhiên, đặc biệt 
					strong không chứa các hóa chất gây hại 
					| cho tóc như Parabens, Colorants, Formaldehyde và Silicone.
				.col-lg-6
					figure.figure.row
						.img-block.col-sm-5.pr-sm-0.text-center.text-lg-right
							img(src="./img/fresh/about/about_icon_1.png", alt="").img-fluid
						figcaption.figcaption.col-sm-6.pr-sm-0
							h3 Parabens
							p Là một loại chất bảo quản được sử dụng rộng rãi trong các sản phẩm mỹ phẩm và dược phẩm. Gây mất cân bằng nội tiết tố nếu thời gian sử dụng lâu dài, có khả năng gây dị ứng và nguy cơ ung thư da.

				.col-lg-6
					figure.figure.row
						.img-block.col-sm-5.pr-sm-0.text-center.text-lg-right
							img(src="./img/fresh/about/about_icon_2.png", alt="").img-fluid
						figcaption.figcaption.col-sm-6.pr-sm-0
							h3 Colorants
							p Là các phẩm màu tổng hợp thường đạt độ bền màu cao, với một lượng nhỏ đã cho màu đạt với yêu cầu đặt ra, nhưng có thể gây ngộ độc nếu dùng loại không nguyên chất.
				.col-lg-6
					figure.figure.row
						.img-block.col-sm-5.pr-sm-0.text-center.text-lg-right
							img(src="./img/fresh/about/about_icon_3.png", alt="").img-fluid
						figcaption.figcaption.col-sm-6.pr-sm-0
							h3 Formaldehyde
							p Là một chất có tiềm năng gây ung thư đã được Tổ chức Y tế Thế giới liệt kê vào loại hóa chất độc hại đối với sức khỏe con người. Dù hàm lượng cao hay thấp cũng gây ra nhiều tác hại nghiêm trọng cho da.
				.col-lg-6
					figure.figure.row
						.img-block.col-sm-5.pr-sm-0.text-center.text-lg-right
							img(src="./img/fresh/about/about_icon_4.png", alt="").img-fluid
						figcaption.figcaption.col-sm-6.pr-sm-0
							h3 Silicone
							p Là một chất có độ nhớt, dẻo, khi bám lên tóc lâu dài gây bít tắc nang lông và ngăn cản hấp thu các dưỡng chất. Silicone cũng bị nghi ngờ là thành phần gây dị ứng, làm tóc yếu, dễ gãy rụng, gây gàu và ngứa da đầu.