section.canhcam-home-1
	article
		.container-fluid
			.row
				.col-lg-6.d-flex.align-items-center
					.container
						.text
							h2 Sản phẩm 
								span thiên nhiên dành riêng 
								| cho bạn
							p Với sứ mệnh đem đến sự tự tin cho phái đẹp Việt với mái tóc đen mượt, Fresh Organic không ngừng tìm kiếm những sản phẩm hoàn toàn từ thiên nhiên, không chứa các chất hóa học độc hại. 
							p Cùng Fresh Organic trên hành trình phục hồi và nuôi dưỡng mái tóc chắc khỏe, chúng tôi hứa hẹn loại bỏ những phiền muộn của bạn về tóc và da đầu, tự tin hơn với mái tóc khỏe mạnh
				.col-lg-6.px-0.text-center
					img(src="./img/fresh/home/home_1.png", alt="").img-fluid
