section.canhcam-home-2
	article
		.container-fluid
			.row
				.col-lg-6.px-0.order-2.order-lg-1
					img(src="./img/fresh/home/home_2.png", alt="").img-fluid
				.col-lg-6.px-0.order-1.order-lg-2
					.swiper-container
						h2 
							span Giảm giá mạnh 
							| mùa 
							span NOEL
						.swiper-wrapper
							a(href="#").swiper-slide
								img(src="./img/fresh/home/home_saleoff.png").img-fluid
								span 250.000đ
									em 500.000đ
								span.btn.btn-primary.btn-buy Đặt hàng
									em.lnr.lnr-arrow-right
							a(href="#").swiper-slide
								img(src="./img/fresh/home/home_saleoff.png").img-fluid
								span 250.000đ
									em 500.000đ
								span.btn.btn-primary.btn-buy Đặt hàng
									em.lnr.lnr-arrow-right
							a(href="#").swiper-slide
								img(src="./img/fresh/home/home_saleoff.png").img-fluid
								span 250.000đ
									em 500.000đ
								span.btn.btn-primary.btn-buy Đặt hàng
									em.lnr.lnr-arrow-right
							a(href="#").swiper-slide
								img(src="./img/fresh/home/home_saleoff.png").img-fluid
								span 250.000đ
									em 500.000đ
								span.btn.btn-primary.btn-buy Đặt hàng
									em.lnr.lnr-arrow-right
							a(href="#").swiper-slide
								img(src="./img/fresh/home/home_saleoff.png").img-fluid
								span 250.000đ
									em 500.000đ
								span.btn.btn-primary.btn-buy Đặt hàng
									em.lnr.lnr-arrow-right
						i.swiper-button-next.mdi.mdi-chevron-right
						i.swiper-button-prev.mdi.mdi-chevron-left

