section.canhcam-news-2.section-with-line
	article.news-tagline
		.container
			.row
				.col.text-center
					h2 Câu chuyện
						span  của tóc
					p Cập nhật tin tức mới và hữu ích cho sức khỏe và sắc đẹp của bạn
	article.news-hot
		.container
			.row
				.col-lg-8.top-list
					a.item(href="#")
						figure
							img.img-fluid(src="./img/fresh/tintuc/tintuc_big.png", alt="alt")
							figcaption
								h3 5 mẹo làm đẹp đơn giản, bạn sẽ có ngay làn da sáng hồng và căng tràn sức sống
				.col-lg-4.part-list
					a.item(href="#")
						figure.row
							.img-block.col-8
								img.img-fluid(src="./img/fresh/tintuc/tintuc_big.png", alt="alt")
							figcaption.col-4
								h3 Bí quyết giúp bạn gái có mái tóc óng ả
					a.item(href="#")
						figure.row
							.img-block.col-8
								img.img-fluid(src="./img/fresh/tintuc/tintuc_big.png", alt="alt")
							figcaption.col-4
								h3 Bí quyết giúp bạn gái có mái tóc óng ả
					a.item(href="#")
						figure.row
							.img-block.col-8
								img.img-fluid(src="./img/fresh/tintuc/tintuc_big.png", alt="alt")
							figcaption.col-4
								h3 Bí quyết giúp bạn gái có mái tóc óng ả
	article.news-list
		.container
			.row#products
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/fresh/tintuc/tintuc.png", alt="alt")
							figcaption
								h3 15 thói quen tốt để có mái tóc chắc khỏe và bóng mượt
								p
									time 30/12/2018
									span Chi tiết
										em.lnr.lnr-arrow-right
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/fresh/tintuc/tintuc.png", alt="alt")
							figcaption
								h3 15 thói quen tốt để có mái tóc chắc khỏe và bóng mượt
								p
									time 30/12/2018
									span Chi tiết
										em.lnr.lnr-arrow-right
								
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							img.img-fluid(src="./img/fresh/tintuc/tintuc.png", alt="alt")
							figcaption
								h3 15 thói quen tốt để có mái tóc chắc khỏe và bóng mượt
								p
									time 30/12/2018
									span Chi tiết
										em.lnr.lnr-arrow-right

