section.helpdesk-intro
	article.banner
		.title
			h1 Giúp tôi chọn
			p Dễ dàng lựa chọn giải pháp tốt nhất cho da đầu và mái tóc của riêng bạn
		.img-block.d-block.d-sm-none
			img(src="./img/fresh/tuvan/tuvan_bg_1.png", alt="").img-fluid
		.button
			a(href="#").btn.btn-primary.btn-more Bắt đầu ngay
				span.lnr.lnr-arrow-right