section.canhcam-product-detail-2
	article
		.container
			.row
				.col
					.tab-content
						#detail-1.tab-pane.fade.active.show
							.context
								.lead 
									p Color Lasting shampoo with natural succulent raspberry extract.
									ul.list-unstyled
										li Dầu gội dành cho tóc nhuộm. 
										li Duy trì màu tóc nhuộm như mới và gia tăng độ sáng bóng của tóc.
								.thumb
									img(src="./img/fresh/sanpham/sanpham_ct_1.png", alt="").img-fluid
								.content
									p Fresh Organic - Color lasting shampoo là dầu gội chuyên dụng dành cho các loại tóc nhuộm và tóc highlight. 
									p Lấy cảm hứng từ sự kết hợp tuyệt vời của quả mâm xôi đỏ và hạt Chia, đem đến nguồn dưỡng chất giàu Vitamin A, C, Canxi, magiê giúp nuôi dưỡng tóc óng mượt, bảo vệ màu tóc nhuộm và tăng cường keratin cho sợi tóc bóng khỏe.
									p Dầu gội Fresh Organic chăm sóc tóc nhuộm luôn bừng sức sống.
						#detail-2.tab-pane.fade.active.show
							.context
								.lead 
									p Color Lasting shampoo with natural succulent raspberry extract.
									ul.list-unstyled
										li Dầu gội dành cho tóc nhuộm. 
										li Duy trì màu tóc nhuộm như mới và gia tăng độ sáng bóng của tóc.
								.thumb
									img(src="./img/fresh/sanpham/sanpham_ct_1.png", alt="").img-fluid
								.content
									p Fresh Organic - Color lasting shampoo là dầu gội chuyên dụng dành cho các loại tóc nhuộm và tóc highlight. 
									p Lấy cảm hứng từ sự kết hợp tuyệt vời của quả mâm xôi đỏ và hạt Chia, đem đến nguồn dưỡng chất giàu Vitamin A, C, Canxi, magiê giúp nuôi dưỡng tóc óng mượt, bảo vệ màu tóc nhuộm và tăng cường keratin cho sợi tóc bóng khỏe.
									p Dầu gội Fresh Organic chăm sóc tóc nhuộm luôn bừng sức sống.
						#detail-3.tab-pane.fade.active.show
							.context
								.lead 
									p Color Lasting shampoo with natural succulent raspberry extract.
									ul.list-unstyled
										li Dầu gội dành cho tóc nhuộm. 
										li Duy trì màu tóc nhuộm như mới và gia tăng độ sáng bóng của tóc.
								.thumb
									img(src="./img/fresh/sanpham/sanpham_ct_1.png", alt="").img-fluid
								.content
									p Fresh Organic - Color lasting shampoo là dầu gội chuyên dụng dành cho các loại tóc nhuộm và tóc highlight. 
									p Lấy cảm hứng từ sự kết hợp tuyệt vời của quả mâm xôi đỏ và hạt Chia, đem đến nguồn dưỡng chất giàu Vitamin A, C, Canxi, magiê giúp nuôi dưỡng tóc óng mượt, bảo vệ màu tóc nhuộm và tăng cường keratin cho sợi tóc bóng khỏe.
									p Dầu gội Fresh Organic chăm sóc tóc nhuộm luôn bừng sức sống.
						