section.about-2
	article
		.container
			.row
				h2 Vì sao phái đẹp nên lựa chọn dầu gội Fresh Organic
				.col-12.text-center.d-none.d-sm-block
					.img-pc
						img(src="./img/fresh/about/about_2.png", alt="").img-fluid
				.col-12.text-center.d-block.d-sm-none
					.img-mobile
						img(src="./img/fresh/about/about_1.png", alt="").img-fluid
					.img-mobile
						img(src="./img/fresh/about/about_21.png", alt="").img-fluid
					.img-mobile
						img(src="./img/fresh/about/about_22.png", alt="").img-fluid
					.img-mobile
						img(src="./img/fresh/about/about_23.png", alt="").img-fluid
					.img-mobile
						img(src="./img/fresh/about/about_24.png", alt="").img-fluid