section.canhcam-product-detail-1
	article
		.container
			.row
				.col-lg-5
					.img-block
						img(src="./img/fresh/sanpham/sanpham_ct_2.png", alt="")
				.col-lg-7
					.info
						h2 Color lasting shampoo
						p Giữ màu tóc nhuộm như mới lên đến 8 tuần. Raspberry là nguồn dưỡng chất giàu Vitamin A, C, Canxi, magiê giúp nuôi dưỡng tóc óng mượt, bảo vệ màu tóc nhuộm.
						ul.list-inline
							li.list-inline-item
								a(href="#") 500g
							li.list-inline-item
								a(href="#") 250g
						a(href="#").btn.btn-primary.buy Mua ngay
							span.lnr.lnr-arrow-right

