section.nav-product.section-with-line
	article
		.container
			.row
				.col.text-center
					h2 
						span Sản phẩm 
						| chăm sóc tóc
					.menu
						a(href="#").toggle Danh mục
							span.fa.fa-caret-down
						ul.list-inline
							li.list-inline-item
								a(href="#") Tất cả
							li.list-inline-item
								a(href="#") Nuôi dưỡng phục hồi tóc
							li.list-inline-item
								a(href="#") Dưỡng da đầu điều trị gàu
							li.list-inline-item
								a(href="#") Dưỡng màu tóc nhuộm
							li.list-inline-item
								a(href="#") Dưỡng tóc dày