section.nav-product.section-with-line
	article
		.container
			.row
				.col.text-center
					h2 
						span Sản phẩm 
						| chăm sóc tóc
					.menu
						a(href="#").toggle Danh mục
							span.fa.fa-caret-down
						ul.list-inline.nav.nav-tabs
							li.list-inline-item
								a(href="#product-1" data-toggle="tab") Tất cả
							li.list-inline-item
								a(href="#product-2" data-toggle="tab") Nuôi dưỡng phục hồi tóc
							li.list-inline-item
								a(href="#product-3" data-toggle="tab") Dưỡng da đầu điều trị gàu
							li.list-inline-item
								a(href="#product-4" data-toggle="tab") Dưỡng màu tóc nhuộm
							li.list-inline-item
								a(href="#product-5" data-toggle="tab") Dưỡng tóc dày