section.canhcam-home-6.section-with-line
	article
		.container
			h2 Câu chuyện
				span  của tóc
			.news-list.owl-carousel.owl-theme
				.item
					a(href="#")
						figure
							img.img-fluid(src="./img/fresh/tintuc/tintuc.png", alt="alt")
							figcaption
								h3 15 thói quen tốt để có mái tóc chắc khỏe và bóng mượt
								p
									time 30/12/2018
									span Chi tiết
										em.lnr.lnr-arrow-right
				.item
					a(href="#")
						figure
							img.img-fluid(src="./img/fresh/tintuc/tintuc.png", alt="alt")
							figcaption
								h3 15 thói quen tốt để có mái tóc chắc khỏe và bóng mượt
								p
									time 30/12/2018
									span Chi tiết
										em.lnr.lnr-arrow-right
				.item
					a(href="#")
						figure
							img.img-fluid(src="./img/fresh/tintuc/tintuc.png", alt="alt")
							figcaption
								h3 15 thói quen tốt để có mái tóc chắc khỏe và bóng mượt
								p
									time 30/12/2018
									span Chi tiết
										em.lnr.lnr-arrow-right
				.item
					a(href="#")
						figure
							img.img-fluid(src="./img/fresh/tintuc/tintuc.png", alt="alt")
							figcaption
								h3 15 thói quen tốt để có mái tóc chắc khỏe và bóng mượt
								p
									time 30/12/2018
									span Chi tiết
										em.lnr.lnr-arrow-right