section.canhcam-home-5.section-with-line
	article
		.container
			h2 Cảm nhận
				span  khách hàng
			.row.justify-content-center
				.feedback.owl-carousel.owl-theme
					.col-lg-9.item
						figure
							.img-block(bg-img="./img/fresh/home/home_feedback.png", alt="")
							figcaption
								h3 nguyễn thùy trang
								span Người tiêu dùng
								h4 Cảm nhận sức sống từ mái tóc khỏe
								p Mỗi ngày khi đi làm hoặc đi chợ, tóc tôi phải tiếp xúc nhiều với khói bụi và các tạp chất trong không khí. Điều này khiến tóc tôi hư tổn, dễ gãy rụng. Qua lời giới thiệu của bạn bè, tôi được biết đến sản phẩm chăm sóc tóc Fresh Ogranic, chiết xuất từ thiên nhiên, không gây kích ứng cho da đầu của mình mà còn giúp tóc tổn thương hồi phục lại. Do đó, các dòng sản phẩm đây luôn là sự lựa chọn đầu tiên của tôi để chăm sóc tóc không chỉ tôi mà cả gia đình.
					.col-lg-9.item
						figure
							.img-block(bg-img="./img/fresh/home/home_feedback.png", alt="")
							figcaption
								h3 nguyễn thùy trang
								span Người tiêu dùng
								h4 Cảm nhận sức sống từ mái tóc khỏe
								p Mỗi ngày khi đi làm hoặc đi chợ, tóc tôi phải tiếp xúc nhiều với khói bụi và các tạp chất trong không khí. Điều này khiến tóc tôi hư tổn, dễ gãy rụng. Qua lời giới thiệu của bạn bè, tôi được biết đến sản phẩm chăm sóc tóc Fresh Ogranic, chiết xuất từ thiên nhiên, không gây kích ứng cho da đầu của mình mà còn giúp tóc tổn thương hồi phục lại. Do đó, các dòng sản phẩm đây luôn là sự lựa chọn đầu tiên của tôi để chăm sóc tóc không chỉ tôi mà cả gia đình.