section.nav-about.section-with-line
	article
		.container
			.row
				.col.text-center
					h2 
						span Về 
						| fresh organic
					a(href="#").toggle Danh mục
						span.fa.fa-caret-down
					ul.list-inline
						li.list-inline-item
							a(href="#") Giới thiệu
						li.list-inline-item
							a(href="#") Đặc điểm nổi bật
						li.list-inline-item
							a(href="#") Ưu điểm và chất lượng