section.canhcam-home-7(bg-img="./img/fresh/home/home_bg_2.png")
	article
		.container
			.row
				.col-lg-4.text-center.text-lg-left
					h2 Đăng ký nhận bản tin
					p Để cập nhật thông tin mới từ Fresh Organic
				.col-lg-8.mt-3.mt-md-0
					.subscribefrm
						input(type="text", name="", placeholder="Nhập email của bạn để nhận các chương trình ưu đãi dành riêng cho thành viên đăng ký").subscribeemail
						button.subscribebutton