section.page-banner
	article.swiper-container.list-items
		.swiper-wrapper
			.swiper-slide(bg-img="./img/fresh/_global/subpage_banner_1.png")
				.title
					span 
					h1 sản phẩm từ Fresh Organic
					p Là sản phẩm hữu cơ, không chứa paraben, formaldehyde và chất tạo màu tổng hợp.
					a(href="#").btn Xem thêm
						span.lnr.lnr-arrow-right
			.swiper-slide(bg-img="./img/fresh/_global/subpage_banner_2.png")
			.swiper-slide(bg-img="./img/fresh/_global/subpage_banner_2.png")
		i.swiper-button-next.mdi.mdi-chevron-right
		i.swiper-button-prev.mdi.mdi-chevron-left

