extends _layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/index.html"
	
block header
	include ../lib/header/h-11/index.pug
block body
	include ../lib/slider/s-home/index.pug
	include ../lib/home/h-0/index.pug
	include ../lib/home/h-1/index.pug
	include ../lib/home/h-2/index.pug
	include ../lib/nav/n-product/index.pug
	include ../lib/home/h-8/index.pug
	include ../lib/home/h-3/index.pug
	include ../lib/home/h-4/index.pug
	include ../lib/home/h-5/index.pug
	include ../lib/home/h-6/index.pug
	include ../lib/home/h-7/index.pug
	include ../lib/social/s-1/index.pug
block footer
	include ../lib/footer/f-6/index.pug
