section.canhcam-product
	article
		.container
			.tab-content
				#product-1.tab-pane.fade.active.show
					.row.justify-content-center
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm 3
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
					.row
						.more
							a(href="#").btn.btn-primary  
								span Xem thêm 
									em (15 sản phẩm)
								span.lnr.lnr-arrow-right
				#product-2.tab-pane.fade
					.row.justify-content-center
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm 2
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
					.row
						.more
							a(href="#").btn.btn-primary  
								span Xem thêm 
									em (15 sản phẩm)
								span.lnr.lnr-arrow-right
				#product-3.tab-pane.fade
					.row.justify-content-center
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm 1
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
						.col-md-6.col-lg-4.item
							figure.figure
								.img-block
									img(src="./img/fresh/sanpham/sanpham_1.png", alt="").img-fluid
								figcaption.figcaption
									h2 Anti - dandruff shampoo
									p Giảm 96% triệu chứng gàu cho da dầu nhạy cảm
									a(href="#").btn.btn-primary Chi tiết
										em.lnr.lnr-arrow-right
								a(href="#").link
							h3 Dầu gội dành cho tóc gàu, thích hợp cho da đầu nhạy cảm
					.row
						.more
							a(href="#").btn.btn-primary  
								span Xem thêm 
									em (15 sản phẩm)
								span.lnr.lnr-arrow-right