section.nav-product-detail
	article
		.container
			.row
				.col.text-center
					h2 
						span Thông tin 
						| sản phẩm
					.menu
						a(href="#").toggle Danh mục
							span.fa.fa-caret-down
						ul.list-inline.nav.nav-tabs
							li.list-inline-item
								a(href="#detail-1" data-toggle="tab") Giới thiệu
							li.list-inline-item
								a(href="#detail-2" data-toggle="tab") Đặc điểm nổi bật
							li.list-inline-item
								a(href="#detail-3" data-toggle="tab") Hướng dẫn sử dụng