section.canhcam-home-4(bg-img="./img/fresh/home/home_bg.png")
	article
		.container
			.row
				.col-lg-7.text-center.text-lg-right
					h2 Giúp tôi chọn
					p Dễ dàng lựa chọn giải pháp chăm sóc tóc tốt nhất cho bạn
				.col-lg-5.mt-3.mt-md-0
					a(href="#").btn.btn-primary.btn-more Bắt đầu ngay