section.about-1
	article
		.container
			.row
				h2 Fresh Organic - Nguồn cảm hứng thiên nhiên cho những cô nàng yêu tóc
				.col-lg-6.text-center.text-lg-right
					.img
						img(src="./img/fresh/about/about_1.png", alt="").img-fluid
				.col-lg-6
					.text
						p 
							em Với sứ mệnh đem đến sự tự tin cho phái đẹp Việt với mái tóc đen mượt, Fresh Organic là sự kết hợp hoàn hảo của các thành phần thiên nhiên và nói không với các chất hóa học độc hại đến sức khỏe và mái tóc người dùng.
						p Thấu hiểu được mong muốn tiềm ẩn của phái đẹp về một mái tóc căng tràn sức sống mà không tốn nhiều chi phí chăm sóc. Dầu gội Fresh Organic đã được nghiên cứu và cho ra đời những dòng sản phẩm phù hợp với mọi loại tóc, tăng cường sức hấp dẫn nữ tính với mùi hương hoa nhẹ nhàng và quyến rũ.
						p Cùng Fresh Organic trên hành trình phục hồi và nuôi dưỡng mái tóc chắc khỏe, chúng tôi hứa hẹn loại bỏ những phiền muộn của bạn về tóc và da đầu, tự tin hơn với mái tóc khỏe mạnh ngay hôm nay.
