footer.canhcam-footer-6
	.linkfooter.border-bottom
		.container
			.row
				.col-md-6.col-lg-3.px-5.px-sm-0
					nav.list-group
						.list-group-item
							.logo-wrapper.text-left
								img(src="./img/fresh/_global/logo.png", alt="")
						.list-group-item
							ul.list-inline.social-list.my-0.text-left.text-lg-center
								li.list-inline-item
									a(href="#")
										span.mdi.mdi-facebook
								li.list-inline-item
									a(href="#")
										span.mdi.mdi-youtube
								li.list-inline-item
									a(href="#")
										span.mdi.mdi-instagram
				.col-sm-6.col-lg-3.mt-3.mt-md-0.px-5.px-sm-0
					h4.text-left.mb-2 Danh mục sản phẩm
					nav.list-group.text-left
						.list-group-item
							a(href="#") Nuôi dưỡng, phục hồi tóc
						.list-group-item
							a(href="#") Dưỡng da đầu, trị gàu
						.list-group-item
							a(href="#") Dưỡng màu tóc nhuộm
						.list-group-item
							a(href="#") Dưỡng tóc dày
				.col-sm-6.col-lg-2.mt-3.mt-lg-0.px-5.px-sm-0
					h4.text-left.mb-2 Liên kết nhanh
					nav.list-group.text-left
						.list-group-item
							a(href="#") Câu chuyện của tóc
						.list-group-item
							a(href="#") Giúp tôi chọn
						.list-group-item
							a(href="#") Cửa hàng

				.col-md-6.col-lg-4.mt-3.mt-lg-0.px-5.px-sm-0
					.fanpage
						iframe(src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcanhcamhere&tabs=timeline&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" data-adapt-container-width="true")
	.copyright
		.container
			.row.justify-content-center
				nav.list-group.flex-column.flex-lg-row.text-center.text-lg-left
					.list-group-item
						p © 2018 Fresh Organic. All Right Reserved. Designed by Cánh Cam 
					.list-group-item
						a(href="#") Điều khoản sử dụng
					.list-group-item
						a(href="#") Chính sách bảo mật
					.list-group-item
						a(href="#") Sitemap
						


