section.canhcam-home-3.section-with-line
	article
		.container
			h2 
				span Sản phẩm 
				| nổi bật
			.row
				.col-md-6
					a(href="#").item
						img(src="./img/fresh/home/home_sanpham_feature.png", alt="").img-fluid
				.col-md-6.mt-3.mt-md-0
					a(href="#").item
						img(src="./img/fresh/home/home_sanpham_feature.png", alt="").img-fluid