section.helpdesk-step
	article
		.banner(bg-img="./img/fresh/tuvan/tuvan_bg_sm.png")
			.step-number
				ul.list-inline
					li.list-inline-item.active 
						a(href="#") 1
					li.list-inline-item 
						a(href="#") 2
					li.list-inline-item 
						a(href="#") 3
					li.list-inline-item 
						a(href="#") Kết quả
		.content
			.container
				.row
					.col
						h1 Tóc của bạn đang gặp vấn đề gì?
				.row.selection
					a(href="").col-sm-6.item
						figure
							.img-block
								img(src="./img/fresh/tuvan/tuvan_1.png", alt="").img-fluid
							figcaption
								span Tóc khô xơ, rối
					a(href="").col-sm-6.item
						figure
							.img-block
								img(src="./img/fresh/tuvan/tuvan_1.png", alt="").img-fluid
							figcaption
								span Tóc khô xơ, rối
					a(href="").col-sm-6.item
						figure
							.img-block
								img(src="./img/fresh/tuvan/tuvan_1.png", alt="").img-fluid
							figcaption
								span Tóc khô xơ, rối
					a(href="").col-sm-6.item
						figure
							.img-block
								img(src="./img/fresh/tuvan/tuvan_1.png", alt="").img-fluid
							figcaption
								span Tóc khô xơ, rối
		.button
			a(href="#").btn.btn-primary.btn-more Kế tiếp
				span.lnr.lnr-arrow-right
